################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APP_QUANLY_KTX/.vs/APP_QUANLY_KTX/FileContentIndex
/APP_QUANLY_KTX/.vs/APP_QUANLY_KTX/v17/.suo
/APP_QUANLY_KTX/APP_QUANLY_KTX/bin/Debug/net6.0-windows
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ref
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/refint
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.csproj.CopyComplete
*.pdb
*.cache
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmDangNhap.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.csproj.CoreCompileInputs.cache
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.csproj.FileListAbsolute.txt
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.csproj.GenerateResource.cache
*.dll
/APP_QUANLY_KTX/.vs/APP_QUANLY_KTX/DesignTimeBuild/.dtbcache.v2
/APP_QUANLY_KTX/APP_QUANLY_KTX/bin/Debug/net6.0-windows/DevExpress.Charts.v22.2.Core.dll
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ref/ProjectQLKTX.dll
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/apphost.exe
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.designer.deps.json
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.designer.runtimeconfig.json
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmBaoCaoDoanhThu.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmBaoCaoThongKe.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmBienLai.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmChuyenPhong.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmDangNhap.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLiTaiSan.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLiXe.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQuenMK.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmDKPhong.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmDoiMK.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmDSNhanVien.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLDichVu.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLDienNuoc.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLHoaDon.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLHopDong.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLiDienNuoc.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLiHoaDon.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLiHopDong.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLiKho.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmQLiPhong.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmThanNhanSV.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmThongKeSinhVien.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmThongTinNV.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmThongTinSV.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.frmTraPhong.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.genruntimeconfig.cache
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.Home.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.pdb
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/ProjectQLKTX.GeneratedMSBuildEditorConfig.editorconfig
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/project.assets.json
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/ProjectQLKTX.csproj.nuget.dgspec.json
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/ProjectQLKTX.csproj.nuget.g.props
*.targets
/APP_QUANLY_KTX/.vs/APP_QUANLY_KTX/DesignTimeBuild/.dtbcache.v2
/APP_QUANLY_KTX/.vs/APP_QUANLY_KTX/v17/.suo
/APP_QUANLY_KTX/APP_QUANLY_KTX/bin/Debug/net6.0-windows/runtimes/linux/lib/netcoreapp2.0/System.Data.Odbc.dll
/APP_QUANLY_KTX/APP_QUANLY_KTX/bin/Debug/net6.0-windows/runtimes/osx/lib/netcoreapp2.0/System.Data.Odbc.dll
/APP_QUANLY_KTX/APP_QUANLY_KTX/bin/Debug/net6.0-windows/runtimes/unix/lib/netstandard2.0/System.Private.ServiceModel.dll
/APP_QUANLY_KTX/APP_QUANLY_KTX/bin/Debug/net6.0-windows/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
/APP_QUANLY_KTX/APP_QUANLY_KTX/bin/Debug/net6.0-windows/runtimes/win-arm64/native/sni.dll
/APP_QUANLY_KTX/APP_QUANLY_KTX/bin/Debug/net6.0-windows/runtimes/win-x64/native/sni.dll
/APP_QUANLY_KTX/APP_QUANLY_KTX/bin/Debug/net6.0-windows/runtimes/win-x86/native/sni.dll
*.resources
/APP_QUANLY_KTX/APP_QUANLY_KTX/ProjectQLKTX.csproj.user
/APP_QUANLY_KTX/.vs/APP_QUANLY_KTX/v17/.futdcache.v2
/APP_QUANLY_KTX/.vs/ProjectEvaluation/app_quanly_ktx.metadata.v6.1
/APP_QUANLY_KTX/.vs/ProjectEvaluation/app_quanly_ktx.projects.v6.1
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/_IsIncrementalBuild
/APP_QUANLY_KTX/APP_QUANLY_KTX/obj/Debug/net6.0-windows/TempPE/Properties.Resources.Designer.cs.dll
