################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APP_QUANLY_KTX/.vs/APP_QUANLY_KTX/FileContentIndex
/APP_QUANLY_KTX/.vs/APP_QUANLY_KTX/v17/.suo
